.react-table {
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  margin: 0.5rem 2rem 0 2rem;
  border-radius: 0.2rem;
}

.react-table-th::selection,
.react-table-th::-moz-selection,
.react-table-th::-webkit-selection,
.react-table-sorting::selection,
.react-table-sorting::-moz-selection,
.react-table-sorting::-moz-selection {
  background-color: transparent;
}

.globalFilter {
  margin-left: 2rem;
}

.react-table-filter {
  margin-left: 2rem;
  margin-right: 2rem;
}

.react-table-thead {
  display: none;
}

.react-table,
.react-table-tbody,
.table-action-button-group,
.react-table-tr {
  display: block;
}

.react-table-td {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 1rem 1rem;
  /* border-bottom: 1px solid #eaedf0; */
}

.react-table-td:before {
  content: attr(data-label);
  font-size: 1rem;
  font-weight: 600;
}

.react-table-th {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  padding: 1rem 0.5rem;
}

.react-table-td:first-child,
.react-table-th:first-child {
  padding-left: 1rem;
}

.react-table-search {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.react-table-tr {
  box-shadow: 0px 10px 10px -5px #e1e5ee;
  margin-top: 0.5rem;
}

@media (min-width: 360px) {
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1536px) {
  .react-table {
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    display: table;
  }
  .react-table-tbody {
    display: table-row-group;
  }

  .react-table-thead {
    display: table-header-group;
  }
  .react-table-tr {
    display: table-row;
  }

  .react-table-th {
    display: table-cell;
    padding: 0;
  }

  .table-action-button-group {
    display: block;
  }
  .react-table-td {
    display: table-cell;
    font-size: 0.9rem;
    max-width: 5rem;
  }

  .react-table-td:before {
    content: none;
  }

  .react-table-td:last-child {
    width: 15%;
  }

  .react-table-search {
    width: 25% !important;
  }

  .react-table-th,
  .react-table-td {
    padding: 1rem 0.5rem;
  }

  .react-table-tr {
    box-shadow: none;
    margin-top: 0;
  }
  .react-table-tr:nth-child(even) {
    background-color: #f6f9fc;
  }
}
